<!DOCTYPE html>
<html>
  <head>
    <title>EatmeRecipeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
  </head>

  <body>
    <div>
      
      <div id=header>
        <p>
          <% if current_user %>
            Welcome, <%= current_user.name %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to "All Recipes", recipes_path %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Your Recipes', recipes_user_path %>
             &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Add New Recipe', new_recipe_path %>
             &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
         

          <% else %>
            <%= link_to 'Log In', login_path %>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= link_to 'Sign Up', new_user_path %>
          <% end %>
        </p>
      </div>
      
      

    
    </div>
   

    <%= yield %>
  </body>
</html>
