<div class="container">
    <div>
        <img src="https://i.imgur.com/DpcU3hv.png" id="knife">
    </div>

    <div class="recipeList">
        <div class="boxes">
            <h1 class="title">Recipes</h1>

            <% @recipes.reverse_each do |recipe| %>

            <div class="recipeCard">
                <h1><%= link_to recipe.title, recipe_path(recipe) %></h1>
                <div id="line"></div>
                <div>Time: <%= recipe.time %> minutes  &nbsp;|&nbsp;  Servings: <%= recipe.yield %></br> Course: <%= recipe.course %></div>
                <div>Created By: <%= recipe.user.email %></div>
                <div>Submitted: <%= recipe.created_at %></div>
            
                </br>
                <div class="cardLinks">
                    <div class="cardLink"><%= link_to 'Look At Recipe  ', recipe %></div>
                    <div class="cardLink"><%= link_to 'Edit Info', edit_recipe_path(recipe) if recipe.user == current_user %></div>
                    <div class="cardLink"><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } if recipe.user == current_user %></div>
                </div>
            </div>
            </br>
        
            <% end %>

            <%= link_to new_recipe_path  do %>
                <div class="button">Create New Recipe</div>
            <% end %>
            </br>
        </div>
        
    </div>
    
    <div class="imgCol">
        <img class="sidePic" src="https://i.imgur.com/fktiEjN.png">
        <img class="sidePic" src="https://i.imgur.com/MQSC8Y8.jpg">
        <img class="sidePic" src="https://i.imgur.com/6Us2MLO.jpg">
    </div>
</div>


