<div class="container">
    <div class="imgCol">
        <img class="sidePic" src="https://i.imgur.com/fktiEjN.png">
        <img class="sidePic" src="https://i.imgur.com/MQSC8Y8.jpg">
        <img class="sidePic" src="https://i.imgur.com/6Us2MLO.jpg">
    </div>

 
    <div class="recipeList">
        <div class="boxes">
        <h1 id="myTitle">My Recipes</h1>
        <% @recipes.each do |r| %>
        <div class="recipeCard">
            <h1><%= link_to r.title, recipe_path(r) %></h1>
            <div id="line"></div>
            <div>Time: <%= r.time %> minutes  &nbsp;|&nbsp;  Servings: <%= r.yield %>
            </br> Course: <%= r.course %></div>
            <div>Submitted: <%= r.created_at %></div>
            </br>
        </div>
        <% end %></br>
        </div>
    </div>
    
    <div>
        <img src="https://i.imgur.com/rJknQFp.png" id="knife">
    </div>

</div>