<div class="container">
<div>
<img src="https://i.imgur.com/DpcU3hv.png" id="knife">
</div>
<div id="recipeShow">
    <div id="show">
    <h1 class="title"><%= @recipe.title %></h1>
    <p>Time to make: <%= @recipe.time %>&nbsp; |&nbsp; Servings: <%= @recipe.yield %> &nbsp; |&nbsp; Course: <%= @recipe.course %></p>

    </br>
    <h2>Ingredients</h2>
    <% @recipe.ingredients.each do |ingredient| %>
        <p> - 
            <%= ingredient.item %> </br>
            <%= link_to '( Delete |', ingredient_path(ingredient),
                method: :delete,
                data: { confirm: 'Are You Sure?' } if ingredient.recipe.user == current_user %>
                
            <%= link_to 'Edit )', edit_ingredient_path(ingredient),
                method: :get if ingredient.recipe.user == current_user %>
         </p>  
    <% end %>

    </br>
    <h2>Directions</h2>
    <% @count = 0 %>
    <% @recipe.directions.each do |direction| %>
    <p><%= @count += 1 %>.&nbsp; <%= direction.instruction %></br>
        <%= link_to '( Delete |', direction_path(direction),
                    method: :delete,
                    data: { confirm: 'Are You Sure?'  } if direction.recipe.user == current_user %> 
        <%= link_to 'Edit )', edit_direction_path(direction),
                    method: :get if direction.recipe.user == current_user %>
    </p>
    <% end %>
    
    <hr class="showLine"> 
    </br>

    <%= form_for ([@recipe, @recipe.ingredients.build]) do |f| %>
        <p>
            <%= f.label :item, 'Ingredient'%></br>
            <%= f.text_field :item %>
        </p>
        <p><%= f.submit "Add Ingredient" %></p>

        
    <% end %>


    <%= form_for ([@recipe, @recipe.directions.build]) do |f| %>
        <p>
            <%= f.label :instruction, 'Direction' %></br>
            <%= f.text_area :instruction %>
        </p>
        <p><%= f.submit  "Add Direction" %></p>
    <% end %>

    </br>
    <hr class="showLine">

    <%= form_for ([@recipe, @comment]) do |f| %>
        <p>
            <%= f.label :post, 'Leave a comment' %></br>
            <%= f.text_area :post %>
        </p>
        <p><%= f.submit  "Submit Comment" %></p>
    <% end %>
    </br>
    <hr class="showLine">

    <div id="commentBox">
        <h2>Comments</h2>
            <% @recipe.comments.reverse_each do |comment| %>
                <hr class="showLine">
                
                <p><%= comment.user.email %></p>
                
                <p><%= comment.post %></p>
                <%= link_to '( Delete ', comment_path(comment),
                    method: :delete,
                    data: { confirm: 'Are You Sure?'  } if comment.user == current_user %> 
                <%= link_to '| Edit )', edit_comment_path(comment),
                    method: :get if comment.user == current_user %>

                
            
            <% end %>
    </div>
    
    <hr class="showLine">
    </br></br>
    <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> |
    <%= link_to "Back to Recipe Posts", recipes_path %>
    </br></br>
    </div>

</div>
<div>
    <img src="https://i.imgur.com/rJknQFp.png" id="knife">
</div>
</div>