<h1>Recipes</h1>

<div id="boxes">
    <% @recipes.each do |recipe| %>

    <div id="recipeBox">
        <h1><%= link_to recipe.title, recipe_path(recipe) %></h1>
        <div>Time: <%= recipe.time %> minutes  &nbsp;|&nbsp;  Servings: <%= recipe.yield %></br> Course: <%= recipe.course %></div>
        <div>Created: <%= recipe.created_at %></div>
         <div>Created By: <%= recipe.user.email %></div>
       
        </br>
        <div>
        <%= link_to 'Show  ', recipe %>
        <%= link_to '|  Edit Recipe Info |', edit_recipe_path(recipe) if recipe.user == current_user %>
        <%= link_to 'Delete Recipe', recipe, method: :delete, data: { confirm: 'Are you sure?' } if recipe.user == current_user %>
        </div>
    </div>
    </br>
<% end %>
</div>

</br></br>

<%= link_to 'New Recipe', new_recipe_path %>