<!DOCTYPE html>
<html>
  <head>
    <title>EatmeRecipeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
  </head>

  <body>
    <div>
      
      <div id=header>
        <p>
          <% if current_user %>
              <div id="nameBox">Welcome To EATme, <%= current_user.name %></div>
    
           
            <%= link_to recipes_path do %>
            <div class="navBox">All Recipes</div>
            <% end %>
            
            <%= link_to  recipes_user_path do %>
              <div class="navBox">My Recipes</div>
            <% end %>
              
            <%= link_to new_recipe_path do %>
            <div class="navBox">Add New Recipe</div>
            <% end %>

            <%= link_to session_path('dummy'), method: :delete do %>
            <div id="logOutBox">Log Out</div>
            
            <% end %>
          
            

          <% else %>
            
            <div class="navBox">
            <%= link_to 'Log In', login_path %>
            </div>
           
            <div class="navBox">
            <%= link_to 'Sign Up', new_user_path %>
            </div>
            <div id="eatMe">Welcome to EATme!</div>
          <% end %>
          
        </p>
      </div>
      
      

    
    </div>
   

    <%= yield %>
  </body>
</html>
